.App {
  text-align: center;
  background-color:  #1EAEDB20;
  width: 100vw;
  height: 100vh
}

.display-flex-row {
  display: flex;
  align-items: center;
  gap: 0.5em
}
.display-space-bw {
  justify-content: space-between;

}
.display-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em
}

.box {
  background-color: white;
  box-shadow: 1px 1px 5px #00000030;
  padding: 2em;
  border-radius: 10px;
  width: 400px;
  margin: 0 auto
}